@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    
}

:root {
    --bs-orange: #f2ac36;
    --bs-light: #fffbf5;
}

/* ***************************hero*********************** */
.hero{
  background-color: #1A2E3A;
  margin: 0%;

 
  
}

.shop-Text {
    font-weight: 700;
    color: var(--bs-light);
    text-transform: uppercase;
    color: white;
}

.stylish-text {
    color: var(--bs-orange);
}
.image {
  position: relative;
  width: 100%;
  border: 3px solid #d2b45e;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out; /* Add smooth transition effect */
}

.secound-bag {
  height: 200px;
  width: 250px;
  border: 3px solid #d2b45e;
  border-radius: 10px;
  position: absolute;
  left: 48%;
  top: 45%;
  background: #000;
  transition: transform 0.3s ease-in-out; /* Add smooth transition effect */
}

.shop-Text1 {
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph-text {
    color: gray;

}

.text-a{
  align-items: center;
  margin-left: 15rem;
  font-weight: 300;
  color:white;
  margin-top: 15px;
  /* margin-bottom: 20rem; */
  font-size: 40px;
  
  

}
.image:hover,
.secound-bag:hover {
  transform: scale(1.1); /* Add a scaling effect on hover */
}
@media only screen and (max-width: 376px) {
    .hero{
        margin-left: 0em;
        width: 58vh;
        height: 110vh;
    }
    .shop-Text {
        margin-left: 0.5em;
        margin-top: 1em;
        font-weight: 700;
        color: var(--bs-light);
        text-transform: uppercase;
        color: white;
        font-size: 1.5em;
    }
    .text-white{
        font-size: 0.8em;
        margin-left: 1em;
       
    }

    .image{
        width: 100%; 
        max-width: 100%;  
        top: -4em;   
    }
    .secound-bag {
        width: 95%; 
        max-width: 100%; 
        left: 0.9em; 
        top: auto; 
        margin-top: -2em; 
        margin-bottom: 20em;
    }

    .text-a {
        margin-left: 1rem; /* Adjust the left margin for smaller screens */
        font-size: 1.5em; /* Adjust the font size for smaller screens */
        margin-top: 6em;
    }
    
    
}
/* 640 px  */
@media only screen and (min-width: 376px) and (max-width: 640px) {
    .hero{
        margin-left: 0em;
        width: 100vh;
        height: 110vh;
        
    }
    .shop-Text {
        
        margin-left: -1.5em;
        margin-top: 1em;
        font-weight: 700;
        color: var(--bs-light);
        text-transform: uppercase;
        color: white;
        font-size: 2.5em;
        width: 90vh;
        
    }
    .text-white{
        font-size: 0.8em;
        margin-left: 1em;
       
    }

    .image {
        position: relative;
        width: 50%;
        border: 3px solid #d2b45e;
        border-radius: 10px;
        top: -4em;
        left: -2em;
    }
    
    .secound-bag {
        height: 200px;
        width: 300px;
        border: 3px solid #d2b45e;
        border-radius: 10px;
        position: absolute;
        left: 5%;
        top: 70%;
        background: #000;
    }

    .text-a {
        margin-left: 1rem; /* Adjust the left margin for smaller screens */
        font-size: 1.5em; /* Adjust the font size for smaller screens */
        margin-top: 6em;
    }
    
    

}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 48em) {

}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 64em) {

}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 80em) {

}


/* ************************************ grid************ */
.grid-container {
  margin-top: 3rem;
}

.img-shoe,
.img-bag,
.img-cloth {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.img-shoe:hover,
.img-bag:hover,
.img-cloth:hover {
  transform: scale(1.005); /* Increase the scale on hover */
}

.img-shoe,
.img-bag,
.img-cloth {
  width: 100%; /* Set the width of the images to 100% */
  height: auto; /* Maintain the aspect ratio of the images */
}

.img-shoe-text,
.img-bag-text,
.img-cloth-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: left;
  color: white;
  font-size: 50px;
  font-weight: 300;
  transform: translateY(100%); /* Initial position off-screen */
  transition: transform 0.3s ease-in-out;
  margin-top: 8rem; /* Default margin-top */
  margin-left: 2rem;
}

/* Media Query for smaller screens */
@media only screen and (max-width: 376px) {
  .img-bag-text,
  .img-shoe-text,
  .img-cloth-text {
      font-size: 1.7em;
      background-color: #1A2E3A;
      width: 3.5em;
      height: 1.5em;
      margin-top: 5.6em;
      margin-left: 0em;
      border-radius: 5px;
      padding-left: 5px;
      transform: translateY(100%); /* Initial position off-screen for smaller screens */
      transition: transform 0.3s ease-in-out;
  }

  .img-cloth-text {
      margin-top: 13.4em;
  }
}

/* about */
#about {
    padding: 110px 10px;
    position: relative;
    background: url("./Assets/bag.jpg") center center;
    background-size: cover;
  }
  
  #about:before {
    content: '';
    background: #252b3ade;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #about .about_img {
    position: relative;
    -webkit-transition: 0.6s 0.1s;
    transition: 0.6s 0.1s;
  }
  
  #about .about_img img {
    border: 1px solid #444;
  }
  
  #about .about_img:before {
    position: absolute;
    left: 18px;
    top: 18px;
    width: 60px;
    height: 60px;
    z-index: 1;
    content: '';
    border-left: 3px solid #D4Af37 ;
    border-top: 3px solid #D4Af37 ;
    -webkit-transition: 0.5s 0.1s;
    transition: 0.5s 0.1s;
  }
  
  #about .about_img:after {
    position: absolute;
    right: 18px;
    bottom: 18px;
    width: 60px;
    height: 60px;
    z-index: 2;
    content: '';
    border-right: 3px solid #D4Af37 ;
    border-bottom: 3px solid #D4Af37 ;
    -webkit-transition: 0.5s 0.1s;
    transition: 0.5s 0.1s;
  }
  
  #about .about_img:hover {
    -webkit-transform: scale(1.05); 
            transform: scale(1.05);
  }
  
  #about .about_img:hover::before {
    left: 10px;
    top: 10px;
  }
  
  #about .about_img:hover::after {
    right: 10px;
    bottom: 10px;
  }
  
  #about .section_title {
    color: #ddd;
    font-size: 18px;
    text-align: left;
    font-weight: 600;
    padding-bottom: 5px;
  }
  
  #about .section_title:after {
    display: block;
    content: '';
    width: 45px;
    height: 2px;
    margin-top: 6px;
    margin-bottom: 10px;
    background-color: #cb9313 ;
  }
  
  #about .content {
    z-index: 1;
  }
  
  #about .content p {
    color: #ddd;
  }
  #about  h6 {
    color: #FFFFFF;
  }
  @media only screen and (max-width: 376px) {
    #about {
        margin-left:0px;
        width: 58vh;
        height: 100vh;
        padding: 110px 20px;
        position: relative;
        background: url("./Assets/bag.jpg") center center;
        background-size: cover;
      }
  .about_img img{
    width: 80%;
    margin-left: 1.8em;
    
  }  
  #about .about_img:before {
    position: absolute;
    left: 23px;
    top: -5px;
    width: 60px;
    height: 60px;
    z-index: 1;
    content: '';
    border-left: 3px solid #D4Af37 ;
    border-top: 3px solid #D4Af37 ;
    -webkit-transition: 0.5s 0.1s;
    transition: 0.5s 0.1s;
  }
  #about .about_img:after {
    position: absolute;
    right: 32px;
    bottom: -5px;
    width: 60px;
    height: 60px;
    z-index: 2;
    content: '';
    border-right: 3px solid #D4Af37 ;
    border-bottom: 3px solid #D4Af37 ;
    -webkit-transition: 0.5s 0.1s;
    transition: 0.5s 0.1s;
  }
      
  }

  .icons{
     color:#cb9313
  }

  /* *********************about end ****************/
  
/* ********* mission**************** */

#mission {
  padding: 100px 10px;
  background-color: white;
  margin-bottom: -5rem;

}



#mission .section_title {
  color: #cb9313;
  font-size: 2.5rem;
  font-weight: 600;
  padding-bottom: 5px;
  margin-left:-10rem ;
}



#mission .content {
  /* margin-left: -25rem; */
}

#mission .content p {
  margin-left: -30rem;
  color: #434242;
  text-align: justify;
  width: 60rem;
  font-size: 1.1rem;
}
#mission  h6 {
  color: #FFFFFF;
}

/* ********************************mission end******************************** */

.bg-secondary {
  background-color: #0e153a;
  color: #fff;
}
.text-light{
  margin-bottom: 2rem;
}
.card-img-top{
  width: 70%;
  margin-left: 4rem;
  margin-top: 2rem;

  /* margin: 5rem; */

}

.card-body{
  margin-top: 1rem;
  height: 22vh;
}
.card-title-goal{
  color:  #D4Af37 ;
  margin-left: 8rem;
  font-size: 2rem;
  margin-bottom: 0.5em;
}
.card-title-value{
  color:  #D4Af37 ;
  margin-left: 7rem;
  font-size: 2rem;
  margin-bottom: 0.5em;
}
.card-title-vision{
  color:  #D4Af37 ;
  margin-left: 7rem;
  font-size: 2rem;
  margin-bottom: 0.5em;
}
.card:hover {
  transform: translateY(-10px);
  transition: transform 0.5s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 
}


/* *******************8 contact******************* */

/* App.css */

.icons {
  font-size: 3rem;
  color: #C0A142;
}

.contact-section {
  padding: 50px 0;
  background-color: #1A2E3A;
}

.contact-card {
  background-color: #fff;
  padding: 20px;
  border: 2px solid #C0A142;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.contact-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.contact-card h3 {
  margin-top: 20px;
  font-size: 1.5rem;
  color: #333;
}

.contact-card p {
  color: #777;
}

.contact-card h6 {
  color: #555;
}

.contact-card .icons {
  margin-bottom: 10px;
}

.contact-card:hover .icons {
  color: #fff;
}


/* *******************Text Advertisment**************** */
.textAdvertismentContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
  margin: 6em 1em 6em 2em;
  padding: 3em;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 -4px 8px rgba(0, 0, 0, 0.1); /* Add both top and bottom shadows */
}
.textAdvertismentRectangle {
  width: 20em;
  /* margin: 10px; */
}
.textAdvertismentContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textAdvertismentIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  background-color: #C0A142;
  color: white;
  width: 1.5em;
  height: 1.5em;
  border-radius: 100px;
  font-size: 2em;
}
.textAdvertismentIcon:hover {
  background-color: #1A2E3A; /* Change the background color on hover */
  color: #fff; /* Change the text color on hover */
  transform: scale(1.1); /* Add a scale effect on hover */
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.textAdvertismentLabel h2 {
  font-size: 1.2em;
  font-family: var(--headers-font);
  font-weight: bold;
  text-align: center;
  color: var(--primary-color-black);
}

.textAdvertismentLabel h5 {
  text-align: center;
  font-size: 0.9em;
  font-family: var(--headers-font);
  font-weight: 100;
  color: var(--primary-color-light-black);
}
